

body{
	background: url("https://i.pinimg.com/originals/79/ea/e6/79eae60f1e4b247c88219f8caae89a42.jpg"); 
	background-size: cover;
}

h1{
	font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    color: antiquewhite;
	margin-top: 80px;
	margin-bottom: 10px;
}

.row{
	margin-bottom: 40px;
	margin-left: 30px;
	margin-right: 30px;
}

.btn{
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	background-color: green;
	color: white;
	padding: 10px;
}

.btn:hover{
	color: black;
}

.btn:focus{
	outline: 2px solid orange !important;
	background-color: #1680bc;
	color: orange;
}

.team-button{
	margin: 20px;
	color: antiquewhite;
}

.gif-image{
	margin-top: 5px;
	margin-bottom: 5px;
}

.individual-gif-container{
	float: left;
	margin: 2vh 3vw 2vh 3vw;
}

#submit{
	margin-top: 5px;
}

#team{
	margin-top: 15px;
	width: 100%;
}

#team:focus{
	outline: 2px solid orange !important;
}

#gif-container{
	font-size: 22px;
}